*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: 'Outfit', sans-serif;
}

.container {
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  width: 280px;
  margin: 120px auto;
  padding: 20px;
}

main {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-weight: 300;
}

footer img {
  width: 50px;
}

.sub-content span img {
  margin-right: 6px;
  align-items: center;
}

#logo img {
  width: 250px;
  margin-left: -5px;
  border-radius: 10px;
}

.sub-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid hsl(215, 32%, 27%);
  color: hsl(178, 100%, 50%);
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.sub-content .clock {
  color: hsl(215, 51%, 70%);
}

footer {
  display: flex;
  gap: 10px;
}
